
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap and plugins
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min.css';
@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';

.inline {
  display: inline-block;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.turbolinks-progress-bar {
// edit estyles for turbolinks
}

figure {
  margin: 0;
}

table figure {
  width: 75px;
  height: 55px;
}

.table th, .table td {
  vertical-align: middle;
}

.table th:last-child{
  width: 170px;
  text-align: center;
}

.welcome .preview{
  height: 261px;
}

.progressive .preview.mod {
  height: 482px;
}